@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --clr-primary:#5f5aa2;
  --clr-secondary:#89043D;
  --clr-text:#F9F9F9;
  --clr-dark:#183a37;
  --clr-white:#fff;
  --clr-black:#000;
}

html{
  font-size: 16px;
}

a{
  text-decoration: none;
}

body{
  font-family: 'Oswald', sans-serif;
  background-color: var(--clr-text);
  color: var(--clr-black)
}

img{
  width: 100%;
  height: auto;
}

hr{
  margin: 2rem 0;
  padding-right: 1rem;
  max-width: 85%;
}

.text-small{
  font-size: 0.8rem;
}

/*Containers*/
.container-fluid{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container{
  margin: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 75%;
}

/* links/buttons */
.btn{
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-width: 9rem;
  border-radius: 0.5rem;
  padding: 0.8rem 1.2rem;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin: 0.5rem;
  display: inline-block;
  
}

.btn-primary{
  background-color: var(--clr-secondary);
  color: var(--clr-white);
}

.btn-secondary{
  background-color: var(--clr-primary);
  color: var(--clr-white);
}

.btn-primary-outline{
  border: 2px solid var(--clr-dark);
  background-color: var(--clr-white);
}

.btn-secondary-outline{
  border: 2px solid var(--clr-secondary);
  background-color: var(--clr-white);
}

.unordered{
  list-style: none;
}

.list-inline li{
  display: inline;
  padding: 0rem 0.5rem;
}

.nav{
  background-color: var(--clr-primary);
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--clr-text);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  
}

.nav .brand{
  font-weight: 700;
  font-size: 1.5rem;
  display: inline-block;
  

}
.nav ul{
  list-style: none;
  text-align: right;
  
}

.nav ul li{
  display: inline-block;
  padding: 0.5rem 0.8rem;
}

.nav ul li a{
  color:var(--clr-white);
  font-size: 1.25rem;
  font-weight: 400;
}

.nav ul li a.active{
  font-weight: 600;
}

/* Header */
.hero{
  color: var(--clr-dark);
  display: block;
  text-align: center;
  
}

.hero img{
  max-width: 350px;
  margin: 0.5rem auto;
  display: block;

}

.img-circle{
  height: 350px;
  width: 350px;
  border-radius: 50%;
  border: 2px solid var(--clr-primary);
}
.section{
  padding: 2rem 0rem;
  text-align: center;
}


.section-dark{
  text-align: center;
  background-color: var(--clr-primary);
  color: var(--clr-text);

}

.section-dark .section-title{
  color:var(--clr-secondary)
}

.footer{
  background-color: var(--clr-primary);
  color: var(--clr-text);
  padding: 2rem 0rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  text-align: center;

}

.footer-heading{
  font-weight: 700;
  font-size: larger;
  margin-bottom: 1rem;


}







/*Global CSS */

/*Custom CSS */

.title{
  text-align: center;
  margin: 1.5rem auto;
  text-transform: uppercase;
  -webkit-text-decoration: underline;
  text-decoration: underline;
}

.description{
  width: 85%;
  margin: 0.25rem auto;
}
.description p{
  margin: 1rem auto;

}

.section-title{
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--clr-dark);
}

section{
  padding: 1rem;
}



